extend wrapper
block title
  title="Cost To Protect - Data Domain and ECS"
block body
  div.row
    div.col-sm-8.col-sm-offset-2
      h1.text-center #{query.customer}
    div.col-sm-2
      span.pull-right
        button.btn.btn-default(type="button" onclick="location.href='../datadomain-ecs/graph/png"+url.search+"';")
          span.glyphicon.glyphicon-cloud-download
  div.row
    div.col-sm-4.col-xs-6
      strong
        p.text-center.text-muted Average Cost
      h3.text-center $#{solution.avgCost} GB/mo
    div.col-sm-4.col-xs-6
      strong
        p.text-center.text-muted Frontend Capacity
      h3.text-center #{query.dataSet} TB
    div.col-sm-4.col-xs-6
      strong
        p.text-center.text-muted Annual Growth
      h3.text-center #{query.growth}%
    div.col-sm-4.col-xs-6
      strong
        p.text-center.text-muted Dedup Rate
      h3.text-center #{query.dedupRate}:1
    div.col-sm-4.col-xs-6
      strong
        p.text-center.text-muted Archive
      h3.text-center #{query.archive}%
    div.col-sm-4.col-xs-6
      strong
        p.text-center.text-muted Solution
      h3.text-center #{query.duration} Year

  div.row
    include ./graphs/ddEcsChart
  
  div.row
    table.table.table-hover.table-striped
      thead
        tr
          th Month
          th Frontend Capacity
          th Protected Capacity
          th Data Domain
          th ECS
      tbody
        - for(var i = 0; i < solution.label.length; i++) {
          tr
            th #{solution.label[i]}
            td #{solution.size[i].toLocaleString('en-US', {maximumFractionDigits: 1, minimumFractionDigits: 1})} TB
            td #{solution.protectedCap[i].toLocaleString('en-US', {maximumFractionDigits: 1, minimumFractionDigits: 1})} TB
            td $#{solution.ddMoCost[i].toLocaleString('en-US', {minimumFractionDigits: 4})} GB/mo
            td $#{solution.ecsMoCost[i].toLocaleString('en-US', {minimumFractionDigits: 4})} GB/mo
        - }
          
