doctype html
html
  head
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/narrow.css')

    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js')
  body
    div.container
      h1.text-center #{query.customer}
      div.row
        div.col-sm-4.col-xs-6
          strong
            p.text-center.text-muted Average Cost
          h3.text-center $#{solution.avgCost} GB/mo
        div.col-sm-4.col-xs-6
          strong
            p.text-center.text-muted Frontend Capacity
          h3.text-center #{query.dataSet} TB
        div.col-sm-4.col-xs-6
          strong
            p.text-center.text-muted Annual Growth
          h3.text-center #{query.growth}%
        div.col-sm-4.col-xs-6
          strong
            p.text-center.text-muted Dedup Rate
          h3.text-center #{query.dedupRate}:1
        div.col-sm-4.col-xs-6
          strong
            p.text-center.text-muted Archive
          h3.text-center #{query.archive}%
        div.col-sm-4.col-xs-6
          strong
            p.text-center.text-muted Solution
          h3.text-center #{query.duration} Year
          
      h4.text-center.text-muted Virtustream - #{solution.virtustreamStorageType}
    
      div.row
        include ./graphs/ddVirtustreamChart
