<canvas id="ddChart"></canvas>
script.
  var ctx = document.getElementById('ddChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [#{solution.label}],
      datasets: [{
        type: 'line',
        label: 'Data Domain Capacity',
        yAxisID: 'y-axis-right',
        data: [#{solution.ddSize}],
        backgroundColor: 'rgba(111, 84, 153, 1)',
        borderColor: 'rgba(86, 61, 124, 1)',
        borderWidth: 2,
        fill: false
      }, {
        type: 'line',
        label: 'Virtustream Capacity',
        yAxisID: 'y-axis-right',
        data: [#{solution.virtustreamSize}],
        backgroundColor: 'rgba(217, 83, 79, 1)',
        borderColor: 'rgba(212, 63, 58, 1)',
        borderWidth: 2,
        fill: false
      }, {
        type: 'bar',
        label: 'Data Domain',
        yAxisID: 'y-axis-left',
        data: [#{solution.ddMoCost}],
        backgroundColor: 'rgba(51, 122, 183, 1)',
        borderColor: 'rgba(46, 109, 164, 1)',
        borderWidth: 2
      }, {
        type: 'bar',
        label: 'Cloud Tier',
        yAxisID: 'y-axis-left',
        data: [#{solution.cloudTierMoCost}],
        backgroundColor: 'rgba(92, 184, 92, 1)',
        borderColor: 'rgba(76, 174, 76, 1)',
        borderWidth: 2
      }, {
        type: 'bar',
        label: 'Virtustream',
        yAxisID: 'y-axis-left',
        data: [#{solution.virtustreamMoCost}],
        backgroundColor: 'rgba(240, 173, 78, 1)',
        borderColor: 'rgba(238, 162, 54, 1)',
        borderWidth: 2
      }]
    },
    options: {
      tooltips: {
        mode: 'label',
        callbacks: {
          label: function (tooltipItems, data) {
            if (tooltipItems.datasetIndex < 2) {
              return tooltipItems.yLabel.toLocaleString('en-US', {maximumFractionDigits: 1, minimumFractionDigits: 1})+' TB';
            } else {
              return '$ '+tooltipItems.yLabel.toLocaleString('en-US', {minimumFractionDigits: 4})+' GB/mo';
            }
          }
        }
      },
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true,
          ticks: {
               callback: function (label, index, labels) {
                   return label+'m';
               }
           }
        }],
        yAxes: [{
          position: 'left',
          stacked: true,
          id: 'y-axis-left',
          ticks: {
               callback: function (label, index, labels) {
                   return '$'+label.toLocaleString('en-US', {maximumFractionDigits: 4});
               }
           }
        }, {
          position: 'right',
          id: 'y-axis-right',
          ticks: {
               callback: function (label, index, labels) {
                   return label+' TB';
               }
           }
        }]
      }
    }
  });
